
# C extensions
*.so

# VS Code
.vscode/

# exclude data from source control by default
bin/
build/
CMakeFiles/
yaml-cpp/
data/

# MATLAB
**/*.asv
/home/hamid-tuf/projects/powerball/matlab/AAC/test.m

# python
**/*.pyc

/home/hamid-tuf/projects/powerball/data/
doc/*
/home/hamid-tuf/projects/powerball/matlab/23_power_law/data/
**/test.m
./matlab/smc/data
matlab/VAC/raw_data/*
matlab/VAC/processed_data/*
test.py
